<style>
  #content-blocks-{{forloop.index0}} .background-color {background-color: {{item.colors.background-color}};}

  #content-blocks-{{forloop.index0}} .textarea-color a {color: {{item.colors.link-color}};}

  #content-blocks-{{forloop.index0}} .textarea-color a:hover {color: {{item.colors.link-hover-color}};}

  #content-blocks-{{forloop.index0}} .textarea-color 
    {
    color: {{item.colors.textarea-color}};
    background-color: {{item.colors.textarea-background-color}};
    }

  #content-blocks-{{forloop.index0}} .textarea-font {font-family: {{item.fonts.textarea-font}};}

  #content-blocks-{{forloop.index0}} .top-line-color 
    {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 2px solid {{item.colors.top-line-color}};
    }

  #content-blocks-{{forloop.index0}} .left-line-color 
    {
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-left: solid 2px {{item.colors.left-line-color}};
    } 
  
  #content-blocks-{{forloop.index0}} .subheading-color 
    {color: {{item.colors.subheading-color}};}

  #content-blocks-{{forloop.index0}} .subheading-font {font-family: {{item.fonts.subheading-font}};}

  #content-blocks-{{forloop.index0}} h1 
  {
  font-size: 3.5rem;
  color: {{item.colors.subheading-color}};
  font-family: {{item.fonts.subheading-font}};
  margin: 0;
  }

  #content-blocks-{{forloop.index0}} h2 
  {
  font-size: 3rem;
  color: {{item.colors.subheading-color}};
  font-family: {{item.fonts.subheading-font}};
  margin: 0;
  }

  #content-blocks-{{forloop.index0}} h3 
  {
  font-size: 2.5rem;
  color: {{item.colors.subheading-color}};
  font-family: {{item.fonts.subheading-font}};
  margin: 0;
  }

  #content-blocks-{{forloop.index0}} h4 
  {
  font-size: 2rem;
  color: {{item.colors.subheading-color}};
  font-family: {{item.fonts.subheading-font}};
  margin: 0;
  }

  #content-blocks-{{forloop.index0}} h5 
  {
  font-size: 1.5rem;
  color: {{item.colors.subheading-color}};
  font-family: {{item.fonts.subheading-font}};
  margin: 0;
  }

  #content-blocks-{{forloop.index0}} h6 
  {
  font-size: 1rem;
  color: {{item.colors.subheading-color}};
  font-family: {{item.fonts.subheading-font}};
  margin: 0;
  }

  @media(max-width:576px) 
  {
    #content-blocks-{{forloop.index0}} h1 
    {font-size: 3rem;}

    #content-blocks-{{forloop.index0}} h2 
    {font-size: 2.5rem;}

    #content-blocks-{{forloop.index0}} h3 
    {font-size: 2rem;}

    #content-blocks-{{forloop.index0}} h4 
    {font-size: 1.5rem;}

    #content-blocks-{{forloop.index0}} h5 
    {font-size: 1rem;}

    #content-blocks-{{forloop.index0}} h6 
    {font-size: 0.9rem;}
  }

  
</style>

<section id="content-blocks-{{forloop.index0}}">
  <section id="{{item.content-block-link}}" class="grid-center  textarea-content-block padded-sides background-color">
    <div class="col-12 grid center top padded-sides reveal fade-right">
        <hr class="top-line col-4 top-line-color ">
      <div class="col-12  subheading-color textarea-subheading-font subheading-font"><h2 class="no-margin">{{item.subheading_html}}</h2>
      </div>
    </div>
    <div class="col-9_sm-12 left textarea-color textarea-font reveal padded-sides fade-left">
      <div class="textarea-font ">{{item.textarea_html}}</div>
    </div>
  </section>
</section>